#invoice_page {
	text-align: left;
	clear: both;
}

#invoice_page #wp_cc_response {
	background: #FFFAE4 none repeat scroll 0 0;
	border-bottom: 3px solid #FFE787;
	margin-bottom: 10px;
	padding: 6px;
	display: none;
}

#invoice_page #wp_cc_response .wait {
	text-align: center;
	padding: 10px 0;
}

#invoice_page #wp_cc_response ol {
	list-style: decimal inside;
}

#invoice_page #wp_cc_response.success {
	background: #EEFFE6 none repeat scroll 0 0 !important;
	border-bottom: 3px solid #73FF2F !important;
	font-weight: bold
}

#invoice_page input.error,#invoice_page select.error {
	border: 1px solid red !important;
	padding: 5px;
}

#invoice_page p.error {
	border: 1;
	color: red;
	font-weight: bold;
}

#invoice_page input {
	width: 235px;
	border: 0;
	background: #EFEFEF;
	padding: 7px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#invoice_page select option {
	padding-left: 4px;
}

#invoice_page #country, #invoice_page #COUNTRY, #invoice_page #COUNTRYTOSHIP, #invoice_page #shipto_country {
	width: 235px;
	border: 0;
	background: #EFEFEF;
	padding: 7px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#invoice_page #cc_pay_button {
	width: 230px;
	font-size: 1.1em;
	color: #FFF;
	border: #CF7319 1px solid;
	background: #FFAA28;
	padding: 7px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#invoice_page .pay_button.moneybookers {
	border: 0;
	width: 240px;
	height: 80px;
	padding: 0;
}

#invoice_page .pay_button.paypal {
	border: 0;
	width: 107px;
	height: 26px;
	padding: 0;
}

#invoice_page .pay_button.payflow {
	width: 230px;
	font-size: 1.1em;
	color: #FFF;
	border: #CF7319 1px solid;
	background: #FFAA28;
	padding: 7px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#invoice_page .pay_button.sagepay {
	border: 0;
	width: 145px;
	height: 33px;
	padding: 0;
	background-color: white;
}

#invoice_page #state {
	width: 235px;
	border: 0;
	background: #EFEFEF;
	padding: 7px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#invoice_page #exp_month,#invoice_page #exp_year {
	width: 70px;
	border: 0;
	background: #EFEFEF;
	padding: 7px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#invoice_page .invoice_page_subheading {
	text-align: left;
	margin: 0;
}

#invoice_page .invoice_page_subheading_gray {
	text-align: left;
	color: #ebebeb
}

#invoice_page #web_invoice_process_wait {
	height: 32px;
}

#invoice_page #invoice_overview {
	width: 100%;
	padding-right: 10px;
	margin-right: 15px;
	position: relative;
}

#invoice_page #web_invoice_itemized_table {
	width: 100%;
	margin-bottom: 10px;
}

#invoice_page #web_invoice_itemized_table .alt_row, #invoice_page #web_invoice_payments_table .alt_row {
	background: #EFEFEF
}

#invoice_page #web_invoice_itemized_table .grand_total {
	font-weight: bold;
}

#invoice_page #web_invoice_itemized_table .description_text {
	color: #9F9F9F
}

#invoice_page #web_invoice_itemized_table th {
	background: #DFDFDF
}

#invoice_page #web_invoice_itemized_table td,#web_invoice_itemized_table th
	{
	padding: 5px;
	text-align: left;
}

#invoice_page #web_invoice_itemized_table .web_invoice_bottom_line td {
	border-top: 1px solid #DFDFDF;
}

#invoice_page #invoice_business_info {
	float: left;
	padding: 10px 10px 10px 0;
	margin-right: 10px;
}

#invoice_page #invoice_client_info {
        float: right;
        padding: 10px 10px 10px 0;
        margin-right: 10px;
}

#invoice_page #recurring_info {
	position: relative;
	margin-right:15px;
	padding-right:10px;
	width:100%;
	float:left;
}

#invoice_page .web_invoice_due_date {
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
}

#invoice_page #billing_overview {
	width: 100%;
}

#invoice_page #billing_overview p {
	padding: 0;
}

#invoice_page #select_state {
	width: 200px;
	border: 1px solid #86A9C7;
}

#invoice_page legend span {
	margin-top: 1.25em;
}

#invoice_page .cardimage {
	margin-bottom: 10px;
	height: 23px;
}

#invoice_page .nocard {
	background-position: 150px 0px !important;
}

#invoice_page .visa_card {
	background-position: 150px -23px !important;
}

#invoice_page .mastercard {
	background-position: 150px -46px !important;
}

#invoice_page .discover_card {
	background-position: 150px -69px !important;
}

#invoice_page .amex {
	background-position: 150px -92px !important;
}

#invoice_page pre {
	font-size: 12px;
	font-face: arial;
	width: 200px;
}

#invoice_page #submit_button {
	border: 0;
}

#invoice_page fieldset {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin-top: 5px;
	padding: 0 0 5px 0;
	border-style: none;
}

#invoice_page legend span {
	position: absolute;
	left: 0.74em;
	top: 0;
	margin-top: 0.5em;
	font-size: 135%;
}

#invoice_page .no_set_amount {
	width: 50px;
}

#invoice_page fieldset ol {
	padding: 0;
	list-style-type: none !important;
	margin: 0;
	list-style-image
}

#invoice_page fieldset li {
	margin-bottom: 10px;
	padding-bottom: 0;
	float: left;
	list-style: none;
	text-align: left;
	clear: left;
	width: 100%;
}

#invoice_page fieldset label {
	float: left;
	width: 135px;
	padding-top: 3px;
	margin-right: 15px;
	text-align: right;
	padding-bottom: 10px;
}

#invoice_page fieldset .submit {
	float: none;
	width: auto;
	border-style: none;
	padding-left: 12em;
	background-color: transparent;
	background-image: none;
}

#invoice_page.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#invoice_page.clearfix {
	display: block;
}

#invoice_page .web_invoice_pdf_link {
	background: url(../images/pdf.png) no-repeat left top;
	padding-left: 18px;
	line-height: 18px;
}

#invoice_page .payment_select.cc img, #invoice_page .payment_select.pfp img {
	background: url(../images/cc_logo.png) no-repeat left top;
	width: 265px;
	height: 45px;
}

#invoice_page .payment_select.twoco img {
	background: url(../images/2co_logo.png) no-repeat left top;
	width: 96px;
	height: 54px;
}

#invoice_page .payment_select.alertpay img {
	background: url(../images/alertpay_logo.png) no-repeat left top;
	width: 81px;
	height: 45px;
}

#invoice_page .payment_select.sagepay img {
	background: url(../images/sage_pay_logo.gif) no-repeat left top;
	width: 145px;
	height: 33px;
}

#invoice_page .payment_select.moneybookers img {
	background: url(../images/moneybookers_logo.png) no-repeat left top;
	width: 75px;
	height: 42px;
}

#invoice_page .payment_select.moneybookers img {
	background: url(../images/moneybookers_logo.png) no-repeat left top;
	width: 75px;
	height: 42px;
}

#invoice_page .payment_select.google_checkout img {
	background: url(../images/google_checkout.gif) no-repeat left top;
	width: 180px;
	height: 46px;
}

#invoice_page .payment_select.paypal img {
	background: url(../images/paypal_logo.png) no-repeat left top;
	width: 80px;
	height: 45px;
}

#invoice_page .payment_select.payflow img {
	background: url(../images/payflow_logo.png) no-repeat left top;
	width: 80px;
	height: 45px;
}

#invoice_page .payment_select.other img {
	background: url(../images/bank_logo.png) no-repeat left top;
	width: 80px;
	height: 45px;
}

html[xmlns] #invoice_page .clearfix {
	display: block;
}

* html #invoice_page .clearfix {
	height: 1%;
}